<mat-toolbar color="primary">
  <span class="logo">🎬 Reprise App</span>
  <span class="spacer"></span>

  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/home" routerLinkActive #rlaHome="routerLinkActive" [active]="rlaHome.isActive">
      Home
    </a>

    <a mat-tab-link routerLink="/films" routerLinkActive #rlaFilms="routerLinkActive" [active]="rlaFilms.isActive">
      Films
    </a>

    <a mat-tab-link routerLink="/series" routerLinkActive #rlaSeries="routerLinkActive" [active]="rlaSeries.isActive">
      Séries
    </a>
  </nav>

  <button mat-icon-button aria-label="Compte utilisateur">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>