<div class="page-container">
    <mat-toolbar color="primary">
        <span class="logo">🎬 Reprise App</span>
        <span class="spacer"></span>

        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
            <a mat-tab-link routerLink="/home" routerLinkActive #rlaHome="routerLinkActive"
                [active]="rlaHome.isActive">Home</a>
            <a mat-tab-link routerLink="/films" routerLinkActive #rlaFilms="routerLinkActive"
                [active]="rlaFilms.isActive  || isDefaultActive('films')">Films</a>
            <a mat-tab-link routerLink="/series" routerLinkActive #rlaSeries="routerLinkActive"
                [active]="rlaSeries.isActive || isDefaultActive('series')">Séries</a>
        </nav>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Compte utilisateur">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar>
    <mat-menu #userMenu="matMenu">
        <ng-container *ngIf="isConnected$ | async; else notConnected">
            <button mat-menu-item disabled>
                {{ email$ | async }}
            </button>
            <button mat-menu-item (click)="logout()">Se déconnecter</button>
        </ng-container>
        <ng-template #notConnected>
            <button mat-menu-item (click)="loginPopup()">Se connecter</button>
        </ng-template>
    </mat-menu>

    <div *ngIf="loading" class="loader">
        <div class="spinner-container" *ngIf="loading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
    </div>
    <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
    </mat-tab-nav-panel>
</div>